bin/Debug
GatewayGrpcService/bin
GatewayGrpcService/obj
obj
.vs/GatewayGrpcService/config
.vs/GatewayGrpcService/DesignTimeBuild
.vs/GatewayGrpcService/v17
.vs/ProjectEvaluation
.vs
BuildingBlocks/EventBus/bin
GatewayGrpcService/Properties/PublishProfiles
*.user
BuildingBlocks/EventBusRabbitMQ/bin
BuildingBlocks/EventBusServiceBus/bin
BuildingBlocks/IntegrationEventLogEF/bin
Common/Events.Common/bin
Common/Services.Common/bin
